body {
  font-family: sans-serif;
}

.CodeMirror {
  border: 1px black solid;
  font-size: 20px;
  height: auto;
}

.code {
  font-family: Courier;
}

button {
  height: 50px;
  margin: 10px 10px 0 0;
  border: 1px black solid;
  background: white;
  font-size: 20px;
}
