body {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

#container {
  position: relative;
  width: 90vw;
  margin: auto;
}

.CodeMirror {
  box-sizing: border-box;
  border: 1px black solid;
  font-size: 20px;
  height: auto;
  width: 100%;
}

.code {
  font-family: Courier;
}

button {
  background: white;
  border: 1px black solid;
  box-sizing: border-box;
  box-shadow: 4px 4px rgb(200, 200, 200);
  font-size: 20px;
  height: 50px;
  margin: 10px 10px 10px 0;
}

button:hover {
  box-shadow: 4px 4px black;
}

button:focus {
  border-color: rgb(0, 0, 0);
  outline: none;
}

button.down {
  box-shadow: 2px 2px black;
}

button.down,
button.active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px rgb(200, 200, 200);
}

button.active:hover {
  box-shadow: 2px 2px black;
}

button.down.active {
  transform: translate(3px, 3px);
  box-shadow: 1px 1px black;
}

button.toggle {
  opacity: 0.5;
}

button.toggle.down,
button.toggle.active {
  opacity: 1.0
}

#scopes button {
  margin: 0;
}

button.run:hover {
  box-shadow: 4px 4px rgb(43, 156, 212);
}

button.run:focus {
  border-color: rgb(43, 156, 212);
}

button.run.down {
  box-shadow: 2px 2px rgb(43, 156, 212);
}

button.stop:hover {
  box-shadow: 4px 4px rgb(212, 100, 100);
}

button.stop:focus {
  border-color: rgb(212, 100, 100);
}

button.stop.down {
  box-shadow: 2px 2px rgb(212, 100, 100);
}

#presets, #audio-file {
  display: inline-block;
}

#player {
  border: 1px black solid;
  position: relative;
  top: 12px;
  margin-left: 5px;
}

#presets button, #remove {
  height: 30px;
}

#remove {
  background: rgb(212, 100, 100);
  color: white;
}

.key-wrap {
  display: inline-block;
  width: 120px;
}

.key {
  background-color: rgb(243,243,243);
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
  color: rgb(33,33,33);
  font-family: monospace;
  /*font-size: 11px;*/
  margin-left: 2px;
  padding: 1px 4px;
}

#terminal {
  width: 75%;
}

#main {
  display: flex
}

#scopes {
  width: 20%;
  min-height: 700px;
  display: inline-block;
  margin-left: 2vw;
  font-size: 12px;
}

#scopes .scope {
  box-sizing: border-box;
  border: 1px black solid;
  min-height: 280px;
  margin-bottom: 2vw;
  position: relative;
}

#scopes .scope h3 {
  margin: 0 5px;
  font-weight: bold;
}

.osc-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.scope-control {
  flex: 0 0 auto;
  width: 30%;
  height: 90px;
}

.scope-control input,
.scope-control button {
  display: block;
  width: 100%;
  height: 50%;
}

.scope .controls {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

.controls div,
.controls input {
  display: inline-flex;
  padding: 0;
}

.controls div {
  margin: 0 5px;
  min-width: 15px;
}

.controls input {
  margin: 0 10px;
}

#credits {
  position: relative;
  bottom: 0;
}

#github {
  margin-left: 10px;
}
